<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>PHO</title>
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="Adrien Vanderpotte">
      <meta name="copyright" content="© Copyright 2017 - Adrien Vanderpotte" />
      <meta name="location" content="Paris, FRANCE">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta name="fragment" content="!">
      <base href="/">      

      <!-- Facebook meta -->
      <meta property="og:title" content=""/>
      <meta property="og:image" content=""/>
      <meta property="og:url" content=""/>
      <meta property="og:site_name" content=""/>
      <meta name="description" content=""/>

      <!-- Twitter meta -->
      <meta name="twitter:card" content="">
      <meta name="twitter:site" content="@">
      <meta name="twitter:creator" content="@">
      <meta name="twitter:title" content="">
      <meta name="twitter:description" content="">
      <meta name="twitter:image:src" content="">

      <!-- GOOGLE + Share -->
      <meta itemprop="name" content="">
      <meta itemprop="description" content="">
      <meta itemprop="image" content="">

      <!-- Favicon -->
    </head>
    <body>

        <!--[if lt IE 7 ]> <div id="container" class="ie6"> <![endif]-->
        <!--[if IE 7 ]>    <div id="container" class="ie7"> <![endif]-->
        <!--[if IE 8 ]>    <div id="container" class="ie8"> <![endif]-->
        <!--[if IE 9 ]>    <div id="container" class="ie9"> <![endif]-->
        <!--[if (gt IE 9)|!(IE)]><!--><div id="container"></div> <!--<![endif]-->

        <script type="text/javascript">
          console.log('%c Made with ♥ by Adrien http://avdp.xyz', 'background: #000000; padding: 3px; font-size: 12px; color: #FFFFFF;');
        </script>
        <script type="text/javascript">
          var ENV = "<%= htmlWebpackPlugin.options.environment %>";
        </script>
        
    </body>
</html>